* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
p {
    font-size: xx-large;
    color: aqua;
}
.js {
    color: blue;
    font-style: italic;
}